[Desktop Entry]
Type=Application
Categories=Utility;System;
Comment=Mode + boot switcher designed for Steam Deck's SteamOS Desktop Mode
Exec=__TOGLIT_EXEC__
Icon=toglit
Keywords=touch;toggle;mode;reboot;desktop;steamdeck;steamos;toglit;
Name=TOGLIT
Terminal=true
